@model WebAppsCW2.Models.CommentAnnounce

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Announce.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Announce.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Announce.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Announce.Body)
        </dd>
    </dl>
</div>

@Html.Partial("_CommentsPartial")

<div>

    @using (Ajax.BeginForm("AJAXComments", "Comments", new AjaxOptions
         {
         HttpMethod = "POST",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = "target"
         }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.Comment.CommentBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment.CommentBody, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment.CommentBody, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Comment.AnnounceID, new { Value = Url.RequestContext.RouteData.Values["id"] })

            </div>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
