@model WebAppsCW2.Models.CommentAnnounce

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment.User)
        </th>
    </tr>
    @if (Model.Announce.Comments != null)
    {
        foreach (var item in Model.Announce.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentBody)
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>